snippet rspec "Rspec.describe <name> ..." b
RSpec.describe $1 do
  $2
end
endsnippet

snippet desc "describe <desc> do" b
describe '$1' do
  $2
end
endsnippet

snippet ctx "context <desc> do" b
context '$1' do
  $2
end
endsnippet
