[Unit]
Description=hd-idle daemon

[Service]
Type=simple
Restart=always
RestartSec=10

ExecStartPre=-/usr/bin/killall hd-idle

ExecStart=/usr/sbin/hd-idle -d -i 600

ExecStop=/usr/bin/killall hd-idle

[Install]
WantedBy=multi-user.target
