[Unit]
Description=Borg Backup and Sync Service Timer

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=b2-borg-backup-and-sync.service

[Install]
WantedBy=timers.target

